#  Caches
**/.ipynb_checkpoints/*
**/__pycache__/*

# IDE config
.idea/


# Other
.DS_Store

# Key
config.py
.env

# environment
.venv/

# Data
**/pac-correspondence/*

# Data
**/pac-correspondence/*
